/*************************************/
/*		C U S T O M  F O N T S		*/
/************************************/


/*		icon font		*/

// @import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
// [class*="entypo-"]:before {
//   font-family: 'entypo', sans-serif;
// }
	


/*************************************/
/*	    	V A R I A B L E S		*/
/************************************/





/*************************************/
/*			G E N E R A L			*/
/************************************/

main	{
	background-color: #eee;
}

	section	{
		background-color: #fff;
	}

	footer	{
		background-color: #4d4d4d;

		color: #fff;
	}



/*	Images	*/

img	{
	max-width: 100%;
}

	#content img	{
		height: auto;
		width: auto;

		margin: 0;
	}

	#content .alignleft,
	#content img.alignleft	{
		margin: 4px 4% 4px 0;

		float: left;
	}

	#content .alignright,
	#content img.alignright	{
		margin: 4px 0 4px 4%;

		float: right;
	}

	#content .aligncenter,
	#content img.aligncenter	{
		margin-left: auto;
		margin-right: auto;

		display: block;
		clear: both;
	}

	#content .alignleft,
	#content .alignright,
	#content .aligncenter	{
		margin-bottom: 12px;
	}

	



/*************************************/
/*			W I D G E T S			*/
/************************************/

	
.social-media	{


	ul	{
		list-style: none;

		li	{
			float: left;
		}

	}

}

	


/*************************************/
/*				H O M E				*/
/************************************/

.hero-home	{
	height: 500px;

	background-color: light-pink;
}